.projects ol {
  width: 430px;
}

.projects ol li {
  font-size: 20px;
  background-color: #aaeeaa;
}

.projects ol p {
  background-color: #cceeff;
}

.image {
  float: right;
}

.about {

}

.moreInfo {

}
