.projects ol {
  width: 430px;
}

.projects ol li {
  font-size: 20px;
  background-color: #aaeeaa;
}

.projects ol p {
  background-color: #cceeff;
}

.wow {
  font-style: italic;
  font-weight: bold;
}

.image {
  float: right;
  height: 205px;
  width: 315px;
}

.moreInfo h3 {
  font-size: 20px;
}
